<!doctype html>
<html lang="en">
  <%- include('./partials/header'); %>
  <body>
    <%- include('./partials/navigation'); %>
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <div class="content">
            <h1><%= title %></h1>
            <form method="POST" action="/store">
                <% if (message) { %>
                    <div class="alert alert-success" role="alert">
                        <%= message %> 
                      </div>
                    <%} else { %>
                    
                    <% } %>
                <div class="mb-3">
                    <label for="party_abbreviation" class="form-label">Party</label>
                    <select  name="party_abbreviation" id="party_abbreviation" class="form-select form-select-lg form-control me-2" aria-label=".form-select-lg example">
                        <option selected>Select Party</option>
                        <% party.forEach( p => {%>
                          <option value="<%= p.partyid %>"><%= p.partyid %> </option>
                        <% }); %>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="polling_unit_uniqueid" class="form-label">Polling Unit</label>
                    <select id="polling_unit_uniqueid" name="polling_unit_uniqueid" id="party_abbreviation" class="form-select form-select-lg form-control me-2" aria-label=".form-select-lg example">
                        <option selected>Select Polling Unit</option>
                        <% polling_unit.forEach( p => {%>
                          <option value="<%= p.uniqueid %>"><%= p.polling_unit_name %> </option>
                        <% }); %>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="party_score" class="form-label">Party Score</label>
                    <input name="party_score" type="number" class="form-control" id="party_score">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>